.container{
  display: flex;
  padding: 14px 0px;
  justify-content: space-between;
  font-weight: 400;
  border-bottom: 1px dashed #D0D4CA;
}
.container button{
  display: flex;
  gap: 0 3px;
  border: 0;
  font-weight: 400;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  color: #555843;
  align-items: center;
  cursor: pointer;
}
.checkAllIcon{
  font-size: 30px;
}
.removeAllIcon{
  font-size: 30px;
}