#root {
  display: flex;
  justify-content: center;
}
.App {
  background-color: #f5eec8;
  min-width: 300px;
  padding: 30px 23px;
  border-radius: 16px;
  margin-top: 32px;
  max-width: 500px;
  width: 90vw;
}
